.App {
  text-align: center;
}

#home-page{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.each-home-link{
  width: 1000px;
  margin:50px
}

header{
  background-color: #648FE5;
  padding:10px;
}