#home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.each-home-link {
  width: 1000px;
  margin: 50px;
}

header {
  background-color: #648fe5;
  padding: 10px;
  text-align: center;
}

.beer-list {
  display: flex;
  flex-direction: row;
  margin: 100px;
  background-color: #e6e8ee;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
}

.each-beer-list {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
}

.two-in-a-row {
  display: flex;
  flex-direction: row;
}

.attenuation{
  margin-left:300%;
  color:gray
}

.gray{
  color:gray;
}

.first-brewed{
  margin-left:180px;;
}