#home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#home-page h1{
  font-size: 50px;
  background-color: #648fe5;
  width:100%;
  text-align: center;
  color:white;
  padding:15px;
  text-shadow: 0px 0px 20px white ;
}

#home-page img{
border-radius: 25px;
box-shadow: 0px 0px 20px gray ;

}

.each-home-link {
  width: 1000px;
  margin: 50px;
}

header {
  background-color: #648fe5;
  width:100%;
  padding: 10px;
  text-align: center;
}

.beer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 100px;
  background-color: #e6e8ee;
  width: 85%;
  padding: 20px;
  border-radius: 15px;
}

.each-beer-list {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
}

.two-in-a-row {
  display: flex;
  flex-direction: row;
}

.attenuation{
  
  color:gray
}

.gray{
  color:gray;
}

.first-brewed{
  margin-left:180px;;
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  margin:45px;
}

button{
  background-color: #648fe5;
  padding:20px; 
  border-radius: 15px;
  border:none;
  margin:20px;
  color:white;
  font-weight: bold;
}

#search{
width: 100%;
text-align: center;
margin:10px 0;
background-color: #e6e8ee;
padding: 5px;
}

#search input{
  border-radius: 5px;
  margin:10px;
  width: 40%;
  height: 20px;
}
